<section class="mt-5 " style="margin-top: 6rem !important;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center fw-bold" style="font-family: Georgia, 'Times New Roman', Times, serif;">Add Product</h2>
        <form action="/admin/add-product" enctype="multipart/form-data" method="post">
          <label for="">Name</label>
          <input type="text" name="Name" id="name" class="form-control" / required>

          
          <label for="">Price</label>
          <input type="text" name="Price" id="price" class="form-control" /required>

          <label for="">Description</label>
          <input type="text" name="Description" id="description" class="form-control" /required>
<label for="">Category</label>
<select class="form-select form-select-sm" aria-label=".form-select-sm example" name="Category" required>
 
  {{#each category}}
  <option value="{{this.cat_name}}">{{this.cat_name}}</option>
  {{/each}}
</select>


          <label for="">Image</label>
          <img src="/product-images/{{product._id}}.jpg" alt="" style="width: 100px; height: auto;" id="imgView"
            class="pt-3">
          <input type="file" name="Image" id="image" class="form-control" onchange="viewImage(event)" required>

          <button type="submit" class="btn btn-success mt-4">Save</button>
        </form>
      </div>

    </div>
  </div>
</section>

<style>
  label {
    font-weight: bolder !important;
  }
</style>


<script>
  function viewImage(event) {
    document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
  }
</script>