<div class="container mt-4 mb-4 p-3 d-flex justify-content-center" style="margin-top: 7rem!important;">
  <div class="card p-4">

    <div class=" image d-flex flex-column justify-content-center align-items-center">

       <button class="btn btn-secondary">
        <img  src="/images/user-icon.png" height="100" width="100" />
        </button> 
        
        <span class="name mt-3">{{adminProfile.Name}}</span> <span class="idd">{{adminProfile.Email}}</span>

     <a href="/admin/edit-adminProfile" style="text-decoration: none;">
 <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Profile</button> </div>
     </a>

      <a href="/admin/edit-adminPass" style="text-decoration: none;">
 <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Password</button> </div>
     </a>
     
    
    </div>
  </div>
</div>












<style>
  * {
    margin: 0;
    padding: 0
  }

  body {
    background-color: #000 
    
  }

  .card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
  }


  .btn {

    border-radius: 50%
  }

  .name {
    font-size: 22px;
    font-weight: bold
  }

  .idd {
    font-size: 14px;
    font-weight: 600
  }

  .idd1 {
    font-size: 12px
  }

  .number {
    font-size: 22px;
    font-weight: bold
  }

  .follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
  }

  .btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
  }

  .text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
  }

  .icons i {
    font-size: 19px
  }

  hr .new1 {
    border: 1px solid
  }

  .join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
  }

  .date {
    background-color: #ccc
  }
</style>