{{#if Admin}}

<header class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/admin/">Taste a Dish</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
           
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">


                    <li><a class="dropdown-item" href="/admin/admin-profile">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="/admin/Logout">Logout</a></li>

                </ul>
            </li>
        </ul>
    </nav>



    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">

                        <a class="nav-link" href="/admin/">
                            <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                            Dashboard
                        </a>



                        <div class="sb-sidenav-menu-heading">options</div>
                        <a class="nav-link" href="/admin/add-product">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Add Products
                        </a>

                        <a class="nav-link" href="/admin/add-category">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Add Category
                        </a>
                          <a class="nav-link" href="/admin/add-banner">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Add Banner
                        </a>
                        <a class="nav-link" href="/admin/add-about">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Add/Update About
                        </a>


                        <div class="sb-sidenav-menu-heading">Pages</div>

                        <a class="nav-link" href="/admin/all-products">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            All products
                        </a>
                        <a class="nav-link" href="/admin/all-Orders">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            All orders
                        </a>
                        <a class="nav-link" href="/admin/all-Users">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            All Users
                        </a>
                         <a class="nav-link" href="/admin/all-category">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            All Categories
                        </a>
                         <a class="nav-link" href="/admin/all-banners">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            All Banners
                        </a>
                         <a class="nav-link" href="/admin/all-messages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            All Messages
                        </a>
                        


                        <div class="sb-sidenav-menu-heading"></div>
                          <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                            User Page
                        </a>





                       
                    </div>
                </div>


            </nav>
        </div>
    </div>


</header>

{{/if}}




