
<footer class="footer">

    <section class="box-container">

      <div class="box">
         <img src="/images/email-icon.png" alt="">
         <h3>our email</h3>
         <a href="mailto:farooqcherur@gmail.com">farooqcherur@gmail.com</a>
         
      </div>

      <div class="box">
         <img src="/images/clock-icon.png" alt="">
         <h3>opening hours</h3>
         <p>00:07am to 00:10pm </p>
      </div>

      <div class="box">
         <img src="/images/map-icon.png" alt="">
         <h3>our address</h3>
         <a href=>kerala, india -676304</a>
      </div>

      

   </section>  

   <div class="credit">&copy; copyright @ 2022 by <span>ummar farooq</span> | all rights reserved!
<br>
<br>

<!-- Linkedin -->
<a href="https://www.linkedin.com/in/ummar-farooq-70865a220/" style="color: white; text-decoration: none;">
<i class="fab fa-linkedin-in">&nbsp; &nbsp; &nbsp; </i>
</a>

<!-- Github -->
<a href="https://github.com/farooqpk/"  style="color: white; text-decoration: none;">
<i class="fab fa-github">&nbsp; &nbsp; &nbsp;</i>

</a>

<a href="https://www.instagram.com/_farooq___/"  style="color: white; text-decoration: none;">
<i class="fab fa-instagram">&nbsp; &nbsp; &nbsp;</i>

</a>

<a href="https://www.facebook.com/profile.php?id=100076941980812"  style="color: white; text-decoration: none;">
<i class="fab fa-facebook">&nbsp; &nbsp; &nbsp;</i>

</a>
   

</div>


  

         
           
   

      

</footer>

