

<div class="heading">
   <h3>my profile</h3>
   <p><a href="/">home </a> <span> / profile</span></p>
</div>

<section class="user-details">

   <div class="user">
      <img src="/images/user-icon.png" alt="">
      <p><i class="fas fa-user"></i> <span>{{userProfile.Name}}</span></p>
      <p><i class="fas fa-phone"></i> <span>{{userProfile.Number}}</span></p>
      <p><i class="fas fa-envelope"></i> <span>{{userProfile.Email}}</span></p>
      <a href="/update-profile" class="btn">update profile</a>
     
      <a href="/update-password" class="btn">update password</a>
   </div>

</section>





















