

<section class="form-container">

   <form action="/update-profile" method="post">
      <h3>update profile</h3>
        
      

      <input type="text" required  name="Name" placeholder="enter your name" class="box" value="{{userProfile.Name}}">

      <input type="email" required  name="Email" placeholder="enter your email" class="box"  value="{{userProfile.Email}}">

      <input type="tel"  minlength="10" maxlength="10" placeholder="enter your number" required class="box" name="Number" value="{{userProfile.Number}}">
    
      
      <input type="submit"  class="btn" name="submit" value="save changes">
     
   </form>

</section>






















