

<section class="form-container">

   <form action="/update-password" method="post">
      <h3>change password</h3>
      
      <input type="password" minlength="5" maxlength="8"  name="Password" placeholder="enter your old password" class="box" >
     
      <input type="password" minlength="5" maxlength="8" name="newPassword" placeholder="enter your new password" class="box" >
     
       <input type="submit" value="save password" name="submit" class="btn">
   </form>

</section>

 
















