<!doctype html>
<html lang="en">
 




{{#if admin}}
<head>

 <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
 <link href="/admin-assets/styles.css" rel="stylesheet"/>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
 <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
 
   <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />  
 <script src="/admin-assets/datatables-simple-demo.js"></script>   
<title>ShoppingCart</title>


</head>
 
 {{else}}
<head>
   
 {{!-- <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">   --}}
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
      
   
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>

  
  <!-- custom css file link  -->
  <link rel="stylesheet" href="/stylesheets/style.css">


   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <title>ShoppingCart</title>


<script src="/javascripts/script.js"></script>


</head>
{{/if}}



<body>

{{#if admin}}
{{>admin-header}}
{{else}}
{{>user-header}}
{{/if}}



{{{body}}}

{{#if admin}}


 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/admin-assets/scripts.js"></script>
     
   <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>  
  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="/admin-assets/chart-area-demo.js"></script>
        <script src="/admin-assets/chart-bar-demo.js"></script>
      
{{>admin-footer}}





{{else}}


<script src="/javascripts/new.js"></script>
  
{{!--       
<!-- loader part  -->
<div class="loader-container">
    <img src="images/loader.gif" alt="">
</div> --}}
{{>user-footer}}
{{/if}}

  
</body>


</html>



